@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.menu{
  float: right;
  width: 88%;
  margin: auto; /*auto to horizontally center the element within its container.The element will then take up 
  the specified width, and the remaining space will be split equally between the left and right margins.*/
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 4px; left: 4px;
  
}
.menu ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px ;
  
}
.menu ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color:black ;
}

.music {
  background-color: #f2d9d9;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 #c68c53;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}
.image-container {
  position: relative;
  width: 110px;
}

.image-container::after {
  content: '';
  background-color: #f2d9d9;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.image-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music.play .image-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #f2d9d9;
  border: 0;
  color: #a3a375;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #a3a375;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music.play .info {
  opacity: 1;
  transform: translateY(-100%);
}

.info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}